$timing: 700;
$doubleTiming: 1400;
$tripleTiming: 2100;

:root {
  --beige: #eee7e3;
  --black: #21230f;
  --sideNav: 40px;
  --imageHeight: 350px;
  --pageMoveTiming: #{$timing}ms;
  --doublePageMoveTiming: 1400ms;
  --triplePageMoveTiming: 2100ms;
  --standardFont: 17px;
  --titleFont: 20px;
  --megaFont: 45px;
  --paragraphFont: 15px;
  @media (pointer: coarse) {
    --imageHeight: 20vh;
    --sideNav: 5vh;
  }
}

:export {
  pageTiming: $timing;
}
