$timing: 700;
$doubleTiming: 1400;
$tripleTiming: 2100;

:root {
  --beige: #eee7e3;
  --black: #21230f;
  --sideNav: 40px;
  --imageHeight: 350px;
  --pageMoveTiming: #{$timing}ms;
  --doublePageMoveTiming: 1400ms;
  --triplePageMoveTiming: 2100ms;
  @media (pointer: coarse) {
    --imageHeight: 20vh;
  }
}

:export {
  pageTiming: $timing;
}
