@import '../styles/custom-properties.module.scss';

.aboutPage {
  height: auto;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
}
.aboutPage > * {
  color: var(--beige);
}
.titleAndImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: calc(var(--sideNav) + 1rem) var(--sideNav);
}
.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.aboutTitle {
  font-size: var(--megaFont);
  animation: titleUp var(--triplePageMoveTiming);
  -moz-animation: titleUp var(--triplePageMoveTiming);
  -webkit-animation: titleUp var(--triplePageMoveTiming);
  z-index: 1;
}

.imageWrapper {
  height: var(--imageHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  z-index: 3;
}
.imageWrapper > img {
  height: var(--imageHeight);
  animation: imageGrow var(--doublePageMoveTiming);
  -moz-animation: imageGrow var(--doublePageMoveTiming);
  -webkit-animation: imageGrow var(--doublePageMoveTiming);
}

.aboutMeWords {
  padding: 0 var(--sideNav);
  background-color: var(--black);
  z-index: 2;
}
@media (pointer: coarse) {
  .titleAndImage {
    flex-direction: column;
    height: calc(var(--imageHeight) * 2);
  }
  .titleWrapper {
  }
  .aboutTitle {
  }

  .aboutMeWords {
    text-align: justify;
  }
}

@keyframes titleUp {
  0% {
    transform: translateY(var(--imageHeight));
    opacity: 0;
  }
  50% {
    transform: translateY(var(--imageHeight));
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-moz-keyframes titleUp {
  0% {
    transform: translateY(var(--imageHeight));
    opacity: 0;
  }
  50% {
    transform: translateY(var(--imageHeight));
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes titleUp {
  0% {
    transform: translateY(translateY(var(--imageHeight)));
    opacity: 0;
  }
  50% {
    transform: translateY(var(--imageHeight));
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes imageGrow {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes imageGrow {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes imageGrow {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
