@import '../styles/custom-properties.module.scss';

.contactGrid {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  background-color: var(--black);
  display: grid;
  grid-template-columns:
    [left] var(--sideNav)
    [leftIndent] auto auto [middle] auto auto [rightIndent] var(--sideNav)
    [right];
  grid-template-rows:
    [top] var(--sideNav) [topMargin] calc(var(--imageHeight) * 0.5)
    [middle] calc(var(--imageHeight) * 0.5) auto [bottom];
}
.contactGrid > * {
  color: var(--beige);
}
