@import '../styles/custom-properties.module.scss';

.contactGrid {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  background-color: var(--black);
  display: grid;
  grid-template-columns:
    [left] var(--sideNav)
    10vw auto 10vw var(--sideNav)
    [right];
  grid-template-rows: var(--sideNav) 2fr 20vh 20vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh 1fr;
}
.contactGrid > * {
  color: var(--beige);
}
.hello {
  grid-column: 3;
  grid-row: 4;
  font-size: var(--megaFont);
}
.simple {
  grid-column: 3;
  grid-row: 7;
}
.email {
  grid-column: 3;
  grid-row: 9;
}
.online {
  grid-column: 3;
  grid-row: 11;
}
.email,
.online {
  display: flex;
}
.email > *,
.online > * {
  margin: 0 5px;
}
.hoverable:hover {
  transform: skew(-10deg) translateX(4px);
  cursor: pointer;
  text-decoration: line-through;
}

@media (pointer: coarse) {
  .contactGrid {
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: var(--sideNav) 20vh 20vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh auto;
  }
  .hello {
    grid-column: 2;
    grid-row: 3;
  }
  .simple {
    grid-column: 2;
    grid-row: 5;
  }
  .email {
    grid-column: 2;
    grid-row: 7;
  }
  .online {
    grid-column: 2;
    grid-row: 9;
  }
}
