@import '../styles/custom-properties.module.scss';

.sideNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vh;
  height: var(--sideNav);
  transform: translateX(calc(-1 * var(--sideNav))) rotate(-90deg);
  transform-origin: var(--sideNav) 0;
}

.homeButton {
  visibility: visible;
}
.homeButton:hover {
  cursor: pointer;
}

@media (pointer: coarse) {
  .sideNav {
    width: 100vw;
    flex-direction: row-reverse;
    transform: none;
  }
}
