@import '../styles/custom-properties.module.scss';

:root {
  --yTrans: calc(100vh - var(--sideNav));
}
.sideNav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100vh;
  height: var(--sideNav);
  background: transparent;
  transform: translateY(var(--yTrans)) translateX(calc(-1 * var(--sideNav)))
    rotate(-90deg);
  transform-origin: var(--sideNav) 0;
  z-index: 9;
}

.homeButton {
  visibility: visible;
}
.homeButton:hover {
  cursor: pointer;
  text-decoration: line-through;
}
a {
  color: inherit;
  text-decoration: none;
}
@media (pointer: coarse) {
  .sideNav {
    min-width: 100vw;
    max-width: 100vw;
    flex-direction: row-reverse;
    transform: none;
  }
  ul {
    list-style-type: none;
  }
}
