@import '../styles/custom-properties.module.scss';

.workPage {
  min-height: 100vh;
  background-color: var(--black);
  display: flex;
  padding: calc(var(--sideNav) + 1rem);
}
.workPage > * {
  color: var(--beige);
}
.introCol {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.workTitle {
  font-size: var(--megaFont);
}
.workWords {
}
.metricClock {
  margin-top: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolioList {
  max-width: 65%;
  padding: var(--sideNav);
  position: relative;
  animation: slideFromRight var(--doublePageMoveTiming) ease-out;
  -webkit-animation: slideFromRight var(--doublePageMoveTiming) ease-out;
  -moz-animation: slideFromRight var(--doublePageMoveTiming) ease-out;
}
.portfolioItem {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  border: 1px solid var(--beige);
}
.imageWrapper {
  background-color: var(--beige);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 1vw;
  height: 20vh;
  min-width: 20vh;
  max-width: 20vh;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-transition: background 2s ease;
  -moz-transition: background 2s ease;
  transition: background 2s ease;
}
.imageWrapper:hover {
  background-image: linear-gradient(var(--beige));
}
.techList {
  color: var(--black);
  position: relative;
  min-height: 100%;
  padding: 1em;
  top: 100%;
  transition: all 1s ease-in;
  z-index: 2;
}
.imageWrapper:hover > .techList {
  top: 0;
  background-color: var(--beige);
}
.techItem {
  padding-left: 1em;
  text-indent: -1em;
}
.pWords {
  display: flex;
  flex-direction: column;
}
.pLabel {
}
.pLabel:hover {
  transform: skew(-10deg) translateX(8px);
  cursor: pointer;
  text-decoration: line-through;
}
.description {
}
@media (pointer: coarse) {
  .workPage {
    display: block;
    padding: calc(var(--sideNav) + 1rem) 1rem 1rem;
  }
  .introCol {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .metricClock {
    display: none;
  }
  .workTitle {
  }
  .workWords {
  }

  .portfolioList {
    margin: 0;
    padding: 0;
    max-width: none;
  }
  .portfolioItem {
    height: auto;
    border: 1px solid var(--beige);
    border-radius: 1em;
    margin: 4px 0;
    padding: 0;
  }
  .imageWrapper {
    height: 20vh;
    min-width: 20vh;
    max-width: 20vh;
  }
  .imageWrapper:hover {
    height: auto;
  }
  .techList {
  }
  .pWords {
    margin: 2vh 1vw;
    // width: calc(100vw - (40vw + 8px));
  }
  .pWords .pLabel {
    font-size: var(--titleFont);
  }
  .description {
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(calc(100% + 5vw + var(--sideNav)));
  }
  50% {
    transform: translateX(calc(100% + 5vw + var(--sideNav)));
  }
  60% {
    transform: translateX(0) scaleX(0.8);
    transform-origin: left;
  }
  75% {
    transform: scaleX(1.1);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}
@-webkit-keyframes slideFromRight {
  0% {
    transform: translateX(calc(100% + 5vw + var(--sideNav)));
  }
  50% {
    transform: translateX(calc(100% + 5vw + var(--sideNav)));
  }
  60% {
    transform: translateX(0) scaleX(0.8);
    transform-origin: left;
  }
  75% {
    transform: scaleX(1.1);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}
@-moz-keyframes slideFromRight {
  0% {
    transform: translateX(calc(100% + 5vw + var(--sideNav)));
  }
  50% {
    transform: translateX(calc(100% + 5vw + var(--sideNav)));
  }
  60% {
    transform: translateX(0) scaleX(0.8);
    transform-origin: left;
  }
  75% {
    transform: scaleX(1.1);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}
