@import './styles/custom-properties.module.scss';

.homeGrid {
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: [left] var(--sideNav) auto 20vw auto 60vw auto [right];
  grid-template-rows: [top] 3fr calc(var(--imageHeight) * 0.5) 8vw 8vw 8vw 8vw 8vw 2fr [bottom];
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.homeGrid::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 3;
  grid-row: 5;
}
.aboutSection > div {
  margin-bottom: 1vh;
}
.name {
  text-transform: uppercase;
  font-weight: 600;
}

.menuOptions {
  grid-column: 5;
  grid-row: 2 / 9;
}
.option {
  font-size: 11vw;
  font-weight: 500;
  transition: 500ms;
}

.option:hover {
  transform: skew(-10deg) translateX(24px);
  cursor: pointer;
}

.pageWrapper {
  display: none;
  position: absolute;
  z-index: 2;
}
