@import './styles/custom-properties.module.scss';

.appWrapper {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.appWrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuOptions {
}
.option {
  font-size: var(--megaFont);
  font-weight: 500;
  transition: 500ms;
}

.option:hover {
  transform: skew(-10deg) translateX(24px);
  cursor: pointer;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50%;
  justify-self: flex-end;
}
.aboutSection > div {
  margin-bottom: 1vh;
}
.name {
  text-transform: uppercase;
  font-weight: 600;
}

.pageWrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

@media (pointer: coarse) {
  .home {
    justify-content: space-around;
  }
  .menuOptions {
    text-align: right;
    padding: 0 1rem;
  }
  .option {
    font-size: 9vh;
  }
  .aboutSection {
    margin: 0;
    padding: 1em;
  }
  .name,
  .title,
  .tagline {
    font-size: larger;
  }
}
